/* ======================
   ANIMATIONS
====================== */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
