/* ======================
   BUTTONS
====================== */

.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: var(--orange);
  color: #fff;
  padding: 12px 18px;
  border-radius: 999px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: var(--transition);
}

.btn-primary img {
  width: 16px;
  filter: brightness(0) invert(1);
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(207,92,54,0.3);
}
